<%= form_with(model: bet_event, local: true) do |form| %>
  <% if bet_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bet_event.errors.count, "error") %> prohibited this bet_event from being saved:</h2>

      <ul>
      <% bet_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="field">
    <%= form.label :winning_option %>
    <%= form.number_field :winning_option %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
